body::before {
  display: block;
  content: "";
  height: 60px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}

img {
  width: 550px;
  height: 350px;
}

#map {
  width: 550px;
  height: 350px;
  border-radius: 10px;
}

.photo {
  width: 150px;
  height: 100px;
}
